<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAjHXI0SROq2UvJ-I-jBPZXW9k40ysOhT0</string>
	<key>GCM_SENDER_ID</key>
	<string>337412443124</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.carMaintenance</string>
	<key>PROJECT_ID</key>
	<string>car-mod-946cd</string>
	<key>STORAGE_BUCKET</key>
	<string>car-mod-946cd.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:337412443124:ios:e00deb0ca5f6325a4a87a1</string>
</dict>
</plist>